@font-face {
    font-family: "creato-display-regular";
    src: url("../assets/tipografias/CreatoDisplay-Regular.otf");
}
@font-face {
    font-family: "creato-display-bold";
    src: url("../assets/tipografias/CreatoDisplay-Bold.otf");
}